<form>
    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="inputEmail4">User Id</label>
        <input type="text" class="form-control" id="inputUserId" placeholder="User Id">
        </div>        
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="inputEmail4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>        
    </div>
    <br>
    <button type="submit" class="btn btn-primary" style="background-color: #3a1db9;">Create Account</button>
</form>

